body {
    background-image: url("/media/bg2.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    margin-top: 20%;
    padding: 10px;
    
    border: solid;
    border-color: white;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    width: min-content;
    height: 150px;
}
