html {
    height: 100%;
    width: 100%;
}

body {
    background-image: url("/media/bg3.png");
    background-size: cover;
    width: 100%;
    height: 100%;
    margin: 0;
}

.blurer {
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px);
}

.column {
    display: flex;
    flex-direction: column;

    border-right: solid;
    border-left: solid;
    border-color: white;

    margin-left: 400px;
    margin-right: 400px;
    padding: 15px;
    backdrop-filter: blur(10px);
}
